@model BeerMatchBoxService.Models.GetMatchesViewModel
@{
    ViewData["Title"] = "GetMatches";
}

    <h2>Matches</h2>

    <div>
        <span class="b"><canvas id="doughnut-chart" width="400" height="225"></canvas></span>
        <span class="b"><canvas id="bar-chart" width="400" height="225"></canvas></span>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Style Name
            </th>
            <th>
                ABV
            </th>
            <th>
                Brewery Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Matches)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StyleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Abv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BreweryName)
                </td>
                <td>
                    <a asp-controller="Matches" asp-action="GetMatchBreweryInfo" asp-route-brewerydbbreweryid="@item.BreweryDBBreweryId">Brewery information</a>
                </td>
            </tr>
        }
  
    </tbody>
</table>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

    <style>
        span.b {
            display: inline-block;
            width: 550px;
            height: 325px;
            padding: 5px;
        }  
         
    </style>

    <script>
        var doughnutSections = @Html.Raw(Json.Serialize(Model.DoughnutSections));

        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: [doughnutSections[0].styleName, doughnutSections[1].styleName, doughnutSections[2].styleName, doughnutSections[3].styleName, doughnutSections[4].styleName],
              datasets: [
                {
                  label: "Percentage",
                  backgroundColor: ["#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a"],
                  data: [doughnutSections[0].percentage, doughnutSections[1].percentage, doughnutSections[2].percentage, doughnutSections[3].percentage, doughnutSections[4].percentage]
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: 'Match Styles'
              }
            }
        });
    </script>
    <script>
        var userTastes = @Html.Raw(Json.Serialize(Model.UserTaste));

        new Chart(document.getElementById("bar-chart"), {
            type: 'bar',
            data: {
              labels: ["Bitter", "Fruit", "Sour", "Hoppy", "Malty", "Chocolate", "Coffee", "Sweet", "Strong", "Session", "Pale", "Middling", "Dark", "Barrel-Aged", "Lager", "Ale", "Pale Ale", "IPA", "ESB", "Stout", "Porter", "Brown", "Red", "Wheat", "Sour", "Saison", "Belgian", "German"],
              datasets: [
                {
                  label: "Affinity",
                  backgroundColor: ["#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a", "#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a", "#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a", "#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a", "#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a", "#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a", "#c94c4c", "#034f84","#ffef96","#77a8a8","#e0876a"],
                  data: [userTastes.likesBitter, userTastes.likesFruity, userTastes.likesSour, userTastes.likesHoppy, userTastes.likesMalty, userTastes.likesChocolate, userTastes.likesCoffee, userTastes.likesSweet, userTastes.likesStrong, userTastes.likesSession, userTastes.likesPale, userTastes.likesMiddling, userTastes.likesDark, userTastes.likesBarrelAged, userTastes.likesLager, userTastes.likesAle, userTastes.likesPaleAle, userTastes.likesIPA, userTastes.likesESB, userTastes.likesStout, userTastes.likesPorter, userTastes.likesBrownAle, userTastes.likesRedAle, userTastes.likesWheat, userTastes.likesSourBeer, userTastes.likesSaison, userTastes.likesBelgian, userTastes.likesGerman]
                }
              ]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: 'Your beer taste profile'
              }
            }
        });
    </script>
}
